/*MENU*/
#menu{
    background-color: #F60C89; 
    height: 80px;
    margin-bottom: 30px;
}
.logo-gaby-modas{
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: 800; 
}

#listagemClientes{
    margin: 0 auto !important;;
    width: 60%;
    min-height: 400px;
}
.header2{
    text-align: center;
}
.dadosCliente{
    padding: 20px 10px 20px 10px;
}
.containerLogin{
    min-height: 400px;
}
#modal-login {
    max-width: 400px;
    width: 90%;
    height: 300px;
    background-color: #FFF;
    border-radius: 2%;
    border: 2px solid #000000;
    margin: 0 auto !important;
    margin-top: 100px !important;
}
#loginUsuario{
    padding: 10px;
}
.botaoLogout{
    float:right;
    margin-right: 10px;
}
#urlColado{
    margin-bottom: 20px;
}
.campoPesquisa{
    width: 200px !important;
    height: 25px !important;
    border: 1px solid #ccc !important;
    margin-top: 5px;
    margin-bottom: 10px;
}
.botaoPesquisa{
    width: 100px;
    height: 29px ;
    border: 1px solid #ddd;
    background-color: #2a578b;
    color: #fff;
    cursor: pointer;
}
.estatistica{
    width: 200px;
    height: 240px;
    background-color: #eeeeee;
    float: left;
    margin-left: 10px;
    border: 1px solid #000;
    padding-bottom: 10px;
    position: fixed;
}
.estatistica h5{
    text-align: center;
}
.estatistica p{
    margin-left: 10px;
}
.usuariojacadastrado{
    min-height: 400px;
    text-align: center;
}
.select{
    display: block !important;
    width: 100px;
    height: 29px;
    float: left !important;
    margin: 0 10px;
}
.textoPesquisa{
    float: left;
    font-size: 17px;
    margin-left: 6px;
}
#page-footer{
    margin-top: 30px;
    padding: 10px;
    background-color: #F60C89;
}
#page-footer .footer-copyright{
    background-color: #FFFFFF;
    text-align: center;
}

@media only screen and (max-width: 480px){
    #formulario-de-contato{
        margin: 0 auto !important;
        width: 95%;
    }
    #formulario-de-editar{
        margin: 0 auto !important;
        width: 95%;
    }
    #sessaoSucesso{
        min-height: 500px;
        background-color: ghostwhite;
        margin: 0 auto !important;
        width: 95%;
        min-height: 400px;
    }
    #infoCliente{
        min-height: 500px;
        background-color: ghostwhite;
        margin: 0 auto !important;
        width: 95%;
        min-height: 400px;
    }
    .hidden-mobile{
        display: none;
    }
    #listagemClientes{
        width: 95%;
    }
}

@media only screen and (max-width: 800px) {
    .estatistica{
        display: none;
    }
}
@media only screen and (min-width: 481px) {
    #formulario-de-contato{
        margin: 0 auto !important;
        width: 60%;
    }
    #formulario-de-editar{
        margin: 0 auto !important;
        width: 60%;
    }
    #sessaoSucesso{
        min-height: 500px;
        background-color: ghostwhite;
        margin: 0 auto !important;
        width: 50%;
        min-height: 400px;
    }
    #infoCliente{
        min-height: 500px;
        background-color: ghostwhite;
        margin: 0 auto !important;
        width: 300px;
        min-height: 400px;
    }
    
        

}