#menu{
    background-color: #FF4081;
    height: 80px;
}
.logo-gaby-modas{
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: 800;  
    
}
#formaulario-de-contato{
    margin-top: 30px;
    
}

#footer{
    height: 200px;
    background-color: #FF4081;
    padding: 30px;
}
.fb-page{
    margin: auto;
    margin-left: 30px;
}

